{# src/David/MasterlistBundle/Resources/views/List/form.html.twig  #}
{% extends '::base.html.twig' %}

{% block title %}Nueva lista{% endblock %}

{# stylesheets #}
{% block stylesheets %}
{{ parent() }}
<style type="text/css">
.h10 { height: 10rem;}
</style>
{% endblock %}


{# body #}
{% block body %}
{#{ dump() }#}

    <section class="search-container" role="main">
        <div class="row hide-for-small h10"> &nbsp; </div>

        <form method="post" data-abide="ajax" id="myform">
            

            <div class="row">

                <div class="small-12 small-centered medium-8 columns">
                    
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input id="list-name" name="list-name" type="text" placeholder="Nombre de la lista">
                            <small class="error" id="list-name-error">
                                Es necesario informar el nombre de la lista</small>
                        </div>
                        <div class="small-2 columns">
                            <input id="add-new-list" type="submit" value="{{ accion }}" class="tiny button">
                        </div>
                    </div>
                
                </div>

            </div>

            <div class="row"> 

                <div class="small-12 small-centered medium-8 columns">

                    <div class="row collapse">
                        <div class="small-10 columns">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div> 

        </form>

        <div class="row hide-for-small h10"> &nbsp; </div>
    </section>

{% endblock %}


{% block javascripts %}{{ parent() }}{% endblock %}