{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Test Application{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/davidmasterlist/css/normalize.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/davidmasterlist/css/foundation.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/davidmasterlist/css/app.css') }}" type="text/css" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div id="container">

        {% block navbar %}
        <nav class="top-bar hide-for-small" data-topbar="">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="{{ path('_search_masterlist') }}">Masterlist</a>
                    </h1>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="divider"></li>
                    <li class="has-dropdown not-click">
                        <a href="#" class="">Aplicaciones</a>
                        <ul class="dropdown">
                            <li><a href="{{ path('_saludo_page') }}">Saluda</a></li>
                            <li><a href="{{ path('_random_number_sample') }}">Numeros aleatorios</a></li>
                            <li><a href="{{ path('_create_masterlist') }}">Nueva lista</a></li>
                            <li><a href="{{ path('_search_masterlist') }}">Buscar lista</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </nav>
        {% endblock %}


        {% block body %}{% endblock %}

    </div>
    <!-- /end containter -->

    {% block javascripts %}
    <script src="{{ asset('bundles/davidmasterlist/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('bundles/davidmasterlist/js/foundation.min.js') }}"></script>
    {% endblock %}

</body>
</html>