{# src/David/MasterlistBundle/Resources/views/Random/random.html.twig  #}
{% extends '::base.html.twig' %}

{% block title %}Randomator :-){% endblock %}

{# stylesheets #}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{# body #}
{% block body %}
 <section class="search-container" role="main">
 	<div class="row"> &nbsp; </div>
 	<div class="row"> &nbsp; </div>
 	<div class="row">

        <div class="small-12 columns">
            <h3>Escogiendo un número aleatorio entre 1 y {{ limit }} : {{ number }}</h3>
            <hr/>
            <p>Para modificar el limite, modifica la URL de forma que incluya el nuevo límite al final:</p>
			<p><a href="{{ path('_random_number_sample', {'limit':limit}) }}">{{ path('_random_number_sample', {'limit':limit}) }}</a></p>
        </div>

    </div>
    <div class="row"> &nbsp; </div> 
</section>
{% endblock %}


{% block javascripts %}{{ parent() }}{% endblock %}