{# src/David/MasterlistBundle/Resources/views/Default/hola.html.twig  #}
{% extends '::base.html.twig' %}

{% block title %}Hola{% endblock %}

{# stylesheets #}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{# body #}
{% block body %}
<section class="search-container" role="main">
 	<div class="row"> &nbsp; </div>
 	<div class="row"> &nbsp; </div>
 	<div class="row">

        <div class="small-12 columns">
            <h3>Hola {{ name }}!</h3>
            <hr/>
            <p>Para personalizar el saludo, añade /{nombre} a la URL:<br/></p>
			<p>{{ path('_saludo_page') }}</p>
        </div>

    </div>
    <div class="row"> &nbsp; </div> 
</section>
{% endblock %}