{# src/David/MasterlistBundle/Resources/views/Default/list.html.twig  #}
{% extends '::base.html.twig' %}

{% block title %}Lista de aplicaciones{% endblock %}

{# stylesheets #}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{# body #}
{% block body %}

{% endblock %}


{% block javascripts %}{{ parent() }}{% endblock %}